<link rel="stylesheet" href="/css/address.css">
<div id="body-address-page">
    <div class="row px-5 py-5">
        <div class="col-md-3">
            <div class="card">
                <div id="user-shipping-address">
                    <h4 class="w-100 text-center py-3 px-5 mb-3 bg-success" style="color: white">Your address list</h4>
                    <div class="d-flex my-2  px-4">
                        <h5>Receiver's name: </h5>
                        <div style="flex:1;"></div>
                        <h5></h5>
                    </div>
                    <div class="d-flex my-2  px-4">
                        <h5>Ward: </h5>
                        <div style="flex:1;"></div>
                        <h5></h5>
                    </div>
                    <div class="d-flex my-2  px-4">
                        <h5>District: </h5>
                        <div style="flex:1;"></div>
                        <h5></h5>
                    </div>
                    <div class="d-flex my-2  px-4">
                        <h5>Province: </h5>
                        <div style="flex:1;"></div>
                        <h5></h5>
                    </div>

                    <div class="d-flex my-2  px-4">
                        <h5>Address: </h5>
                        <div style="flex:1;"></div>
                        <h5></h5>
                    </div>
                </div>

                <form action="">
                    <select id="address-select" class="select-css my-5 w-90 mw-90" name="user-address" required="">
                    </select>
                </form>

            </div>

        </div>

        <!--                User address-->

        <div class="col-md-9">
            <div class="card p-5"><h4>Add a New
                    Address</h4>
                <form id="add-address-form" action="#" method="post">
                    <section>
                        <div class="information-wrapper">
                            <div class="controls"><label class="control-label">Full name: </label>
                                <input
                                        id="fullName"
                                        class="form-control py-4" type="text" name="name"
                                        placeholder="Full name" required="">
                            </div>
                            <div class="controls"><label class="control-label">Mobile number:</label>
                                <input
                                        class="form-control py-4" type="number" name="phoneNumber"
                                        required=""
                                        id="phoneNumber"
                                        placeholder="Mobile number">
                            </div>
                            <div class="controls"><label
                                        class="control-label">Province/City: </label>
                                <select
                                        id="provinceOrCity"
                                        class="select-css w-100 mw-100" name="provinceOrCity"
                                        required="">
                                    <option></option>
                                    <% options.provinces.forEach(province=>{ %>
                                        <option value="<%= province._id %>"><%= province.name %></option>
                                    <% }) %>
                                </select>
                            </div>

                            <div class="controls"><label class="control-label">District: </label>
                                <select
                                        class="select-css" name="district"
                                        id="district"
                                        required="">

                                </select>
                            </div>

                            <div class="controls"><label class="control-label">Ward: </label>
                                <select
                                        id="ward"
                                        class="select-css" name="ward" required="">
                                </select>
                            </div>

                            <div class="controls"><label class="control-label">Address:</label><input
                                        id="address"
                                        class="form-control" type="text" name="address" required=""
                                        placeholder="Address"></div>
                            <% if(user){ %>
                                <input name="userID" id="userID" type="hidden" value="<%= user._id %>">
                            <% } %>
                        </div>
                        <span class="text-success"></span>
                        <div class="row">
                            <div class="d-flex flex-column col">
                                <button class="btn btn-primary" type="submit">Add New Address</button>
                            </div>
                        </div>

                    </section>

                    <div class="d-flex justify-content-between px-2 row">
                        <div class="checkout-right-basket align-self-start"><a class="direction-button-back" href="/">Back
                                Step<span aria-hidden="true"></span></a></div>
                        <div class="col"></div>
                        <div class="checkout-right-basket align-self-start"><a class="direction-button" href="/">Make a
                                Payment <span aria-hidden="true"></span></a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/address.js"></script>