<!-- top Products -->

<div class="ads-grid_shop">
    <div class="shop_inner_inf">
        <div class="privacy about">
            <h3>Chec<span>kout</span></h3>

            <div class="checkout-right">
                <h4>Your shopping cart contains: <span id="amount-product-cart"> </span>Products</h4>
                <table class="timetable_sub" aria-readonly="true">
                    <thead>
                    <tr>
                        <th>SL No.</th>
                        <th>Product</th>
                        <th>Quality</th>
                        <th>Product Name</th>
                        <th>Size</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody id="cart-in-checkout">


                    </tbody>
                </table>
                <link rel="stylesheet" href="/css/address.css">
                <div id="body-address-page">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div id="user-shipping-address">
                                    <h4 class="w-100 text-center py-3 px-5 mb-3 card-address-title"
                                        style="color: white">Your address list</h4>
                                    <div class="d-flex my-2  px-4">
                                        <h5>Receiver's name: </h5>
                                        <div style="flex:1;"></div>
                                        <h5></h5>
                                    </div>
                                    <div class="d-flex my-2  px-4">
                                        <h5>Ward: </h5>
                                        <div style="flex:1;"></div>
                                        <h5></h5>
                                    </div>
                                    <div class="d-flex my-2  px-4">
                                        <h5>District: </h5>
                                        <div style="flex:1;"></div>
                                        <h5></h5>
                                    </div>
                                    <div class="d-flex my-2  px-4">
                                        <h5>Province: </h5>
                                        <div style="flex:1;"></div>
                                        <h5></h5>
                                    </div>

                                    <div class="d-flex my-2  px-4">
                                        <h5>Address: </h5>
                                        <div style="flex:1;"></div>
                                        <h5></h5>
                                    </div>
                                </div>

                                <form action="" class="select-container">
                                    <select id="select-address-delivery" class="select-css" name="user-address"
                                            required="">
                                    </select>
                                </form>

                            </div>

                            <div class="card mt-5">
                                <div id="chose-payment-method">
                                    <div class="card">
                                        <div class="card-header "></div>
                                        <h4 class="w-100 text-center py-3 px-5 mb-3 card-address-title"
                                            style="color: white">Choose payment methods</h4>
                                        <div class="card-body" style="padding-bottom: 0">
                                            <div class="d-flex my-2  px-4">
                                                <h5>Payment method: </h5>
                                                <div style="flex:1;"></div>
                                                <h5 id="show-payment-method"></h5>
                                            </div>
                                            <div class="row select-container">
                                                <select name="Choose payments methods" id="select-payment-method"
                                                        class="w-100 select-css" style="height: fit-content">
                                                    <option value="">Choose payment method</option>
                                                    <option value="COD">COD</option>
                                                    <option value="Credit Card">Credit Card</option>
                                                    <option value="Online Payment">Online Payment</option>

                                                </select>
                                            </div>
                                            <div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--                User address-->

                        <div class="col">
                            <div class="card p-5"><h4>Add a New
                                    Address</h4>
                                <form id="add-address-form" action="#" method="post">
                                    <section>
                                        <div class="information-wrapper">
                                            <div class="controls"><label class="control-label">Full name: </label>
                                                <input
                                                        id="fullName"
                                                        class="form-control py-4" type="text" name="name"
                                                        placeholder="Full name" required="">
                                            </div>
                                            <div class="controls"><label class="control-label">Mobile
                                                    number:</label>
                                                <input
                                                        class="form-control py-4" type="number" name="phoneNumber"
                                                        required=""
                                                        id="phoneNumber"
                                                        placeholder="Mobile number">
                                            </div>
                                            <div class="controls"><label
                                                        class="control-label">Province/City: </label>
                                                <select
                                                        id="provinceOrCity"
                                                        class="select-css w-100 mw-100" name="provinceOrCity"
                                                        required="">
                                                    <option></option>
                                                    <% provinces.forEach(province=>{ %>
                                                        <option value="<%= province._id %>"><%= province.name %></option>
                                                    <% }) %>
                                                </select>
                                            </div>

                                            <div class="controls"><label class="control-label">District: </label>
                                                <select
                                                        class="select-css" name="district"
                                                        id="district"
                                                        required="">

                                                </select>
                                            </div>

                                            <div class="controls"><label class="control-label">Ward: </label>
                                                <select
                                                        id="ward"
                                                        class="select-css" name="ward" required="">
                                                </select>
                                            </div>

                                            <div class="controls">
                                                <label
                                                        class="control-label">Address:
                                                </label>
                                                <input
                                                        id="address"
                                                        class="form-control" type="text" name="address" required=""
                                                        placeholder="Address">
                                            </div>
                                            <div class="controls">
                                                <label for="note"
                                                       class="control-label">Note:
                                                </label>
                                                <input
                                                        id="note"
                                                        class="form-control" type="text" name="note"
                                                        placeholder="Note">
                                            </div>

                                        </div>
                                        <span class="text-success"></span>
                                        <div class="row">
                                            <div class="d-flex flex-column col">
                                                <button class="btn btn-primary" type="submit">Add New Address
                                                </button>
                                            </div>
                                        </div>

                                    </section>

                                    <div class="d-flex justify-content-between px-2 row">
                                        <div class="checkout-right-basket align-self-start"><a
                                                    class="direction-button-back" href="/">Back
                                                Step<span aria-hidden="true"></span></a></div>
                                        <div class="col"></div>
                                        <div class="checkout-right-basket align-self-start">
                                            <a
                                                    class="direction-button" id="order" href="#">Make a
                                                Payment <span aria-hidden="true"></span></a></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="/js/address.js"></script>

</div>
<!-- //top products -->

<!-- products highlight -->

<!-- //products highlight -->

<!-- /newsletter-->
<%- include('../partials/letterSignup.ejs') %>
<!-- //newsletter-->
<script type="text/javascript" src="/js/checkout-handle.js"></script>