<link rel="stylesheet" href="/css/products.css">
<!-- top Products -->
<div class="root-grid">
    <div class="side-bar">
        <div class="search-hotel">
            <h3 class="agileits-sear-head">Search Here..</h3>
            <form action="/search" method="get" id="local-search">
                <input type="search" placeholder="Product name..." name="keyword">
                <input type="submit" value=" ">
            </form>
        </div>

        <!-- price range -->
        <link rel="stylesheet" href="/css/price-slider.css">
        <div class="range ">
            <div class="price-range-slider my-4">
                <p class="range-value">
                    <input type="text" id="amount2" class="text-center" readonly>
                </p>
                <div id="slider-range" class="range-bar"></div>
            </div>
        </div>

        <!--            Brand-->
        <div class="left-side">
            <h3 class="agileits-sear-head">Brand</h3>
            <!--                BRANDS-->
            <ul id="brand-checks"></ul>
        </div>
        <!-- // preference -->
        <!-- discounts -->
        <div class="left-side">
            <h3 class="agileits-sear-head">Discount</h3>
            <ul id="discount-options">
                <li>
                    <input type="checkbox" name="discount" value="0.05" class="checked">
                    <span class="span">5% or More</span>
                </li>
                <li>
                    <input type="checkbox" name="discount" value="0.1" class="checked">
                    <span class="span">10% or More</span>
                </li>
                <li>
                    <input type="checkbox" name="discount" value="0.2" class="checked">
                    <span class="span">20% or More</span>
                </li>
                <li>
                    <input type="checkbox" name="discount" value="0.3" class="checked">
                    <span class="span">30% or More</span>
                </li>
                <li>
                    <input type="checkbox" name="discount" value="0.5" class="checked">
                    <span class="span">50% or More</span>
                </li>
                <li>
                    <input type="checkbox" name="discount" value="0.6" class="checked">
                    <span class="span">60% or More</span>
                </li>
            </ul>
        </div>



    </div>
    <div class="left-ads-display">
        <% if(options.numOfPage > 1) { %>
            <div class="d-flex justify-content-between align-items-center row page-nums-filter">
                <div id="pagination" class="pagination col-lg-7 col-md-12 col-sm-12 col-xs-12 my-5"></div>
                <div id="filter-select" class="row">
                    <label for="filter"> Filter </label>
                    <select name="filter" id="filter" aria-label="Default select example">
                        <option value="">Select to sort</option>
                        <option value="price-asc">Order by price ascending</option>
                        <option value="price-desc">Order by price descending</option>
                        <option value="discount-asc">Order by discount ascending</option>
                        <option value="discount-desc">Order by discount descending</option>
                    </select>
                </div>
            </div>
        <% } %>

    </div>
    <div id="products__section" class="products"></div>



</div>
<div class="clearfix"></div>
<script src="/js/products_script.js"></script>