<h2 class="py-5 text-center " id="brands-title"><strong>List Brands</strong></h2>
<div id="multi-item-example" class="carousel slide carousel-multi-item product-card " data-ride="carousel"
     data-interval="2000">

    <!--Slides-->
    <div class="carousel-inner d-flex justify-content-between align-items-center" role="listbox" id="carousel-brand">
        <% for(let i = 0; i < 3;i++){ %>
            <% if(i === 0 ) { %>
        <div class="carousel-item active mx-2">
            <% }else{ %>
            <div class="carousel-item mx-2">
                <% } %>
                <% for(let j = 0;j < 2 && j < options.brands.length;j++){ %>
                    <% let val = (j + i) % options.brands.length %>
                    <img src="<%= options.brands[val].image_url %>" alt=""
                         onclick="window.location.href=`/products?brand=<%= options.brands[val].brand_url %>`">
                <% } %>
            </div>
            <% } %>

        </div>
        <!--/.Slides-->
    </div>

</div>
<script>
    $(window).resize(function (){
        const  width = $(window).width();
        const height = $(window).height();

        if(width<= 630){

        }
    })
</script>
