<div class="top_nav_right1 " >
    <button class="top_shoe_cart" type="button"  data-toggle="modal" data-target="#my-cart" onclick="showCart()">
        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
    </button>
</div>
