<!-- cart details -->
<div class="top_nav_right " >
    <!--    <div class="shoecart shoecart2 cart cart box_1">-->
    <!--        <form action="#" method="post" class="last">-->
    <!--            <input type="hidden" name="cmd" value="_cart">-->
    <!--            <input type="hidden" name="display" value="1">-->
    <!--            -->
    <!--        </form>-->

    <button class="top_shoe_cart " type="submit" id="btn-cart" name="submit" style="position: fixed" value=""><i class="fa fa-cart-arrow-down"
                                                                          aria-hidden="true"></i></button>

</div>


    <!--    </div>-->
<!--</div>-->
<!-- //cart details -->