<div class="img-overlay  d-flex justify-content-center align-items-center">
    <button id="shop-now-btn" class="btn btn-danger  px-5 py-3"
            onclick="window.location.href='/products'">
            <span style="font-size: 20px">
               SHOP NOW
            </span>
    </button>
</div>