<link href="/css/users-auth.css" rel="stylesheet" type="text/css" media="all"/>
<% if(!options.confirm){ %>
    <% if(options && options.email){ %>
        <div class="row message d-flex justify-content-center align-items-center">
            <h3 class="text-success">
                An email has been sent to you email <%= options.email %> please check it to reset your account
            </h3>
        </div>
    <% } %>
<% }else{ %>
    <% if(options && options.message){ %>
        <div class="text-center message d-flex justify-content-center align-items-center <%= options.hasError ? 'text-danger' : 'text-success' %>">
            <h3><%= options.message %></h3>
        </div>
        <% if(!options.hasError){ %>
            <script>
                setTimeout(()=>{
                        window.location.href='/users/login';
                },1000);
            </script>
        <% } %>
    <% } else{ %>
        <div class="container">
            <div class="form-container">
                <form class="form" id="form" method="post" action="/users/reset-password">
                    <h2>Reset password</h2>
                    <div class="form--control">
                        <label for="password">Password</label>
                        <input name="password" type="password" id="password" placeholder="Enter password">
                        <small id="password1-err" class="text-danger">Error message</small>
                    </div>

                    <div class="form--control">
                        <label for="password">Confirm password</label>
                        <input name="retype" type="password" id="retypePassword" placeholder="Enter your password ">
                        <small id="password2-err" class="text-danger">Error message</small>
                    </div>
                    <small id="form-error" class="text-danger"></small>

                    <input type="hidden" value="<%= options.token ? options.token : '' %>" name="token">
                    <button type="submit" id="btn-primary">Reset password</button>
                </form>
            </div>
        </div>
    <% } %>
<% } %>
<script src="/js/forgot_password_page_script.js"></script>


