<link href="/css/users-auth.css" rel="stylesheet" type="text/css" media="all" />

<div class="container">
    <div class="form-container">
        <form class="form" id="form" method="post" >
            <h2>Login</h2>
            <div class="form--control">
                <label for="username">Email</label>
                <input name="username" type="text" id="username" placeholder="Enter email">
                <small>Error message</small>
            </div>
            <div class="form--control">
                <label for="password">Password</label>
                <input name="password" type="password" id="password" placeholder="Enter password">
                <small>Error message</small>
            </div>

            <button type="submit" id="btn-primary">Login</button>

        </form>

        <form class="form" action="/users/signup">
            <button class="disabled">Register</button>
        </form>


    </div>

    <form class="form" action="">
        <div class="row justify-content-end px-5 text-primary">
            <span id="forgot-password-text">Forgot password ?</span>
        </div>
    </form>
</div>

<script src="/js/login_screen_script.js"></script>