<link href="/css/login-sign-up-style.css" rel="stylesheet" type="text/css" media="all"/>
<% if(options && options.email){ %>
    <div class="row message d-flex justify-content-center align-items-center">
        <h3 class="text-success">
            An email has been sent to you email <%= options.email %> please check it to verify you account
        </h3>
    </div>
<% }else if(options && options.message){ %>
    <div class="text-center message d-flex justify-content-center align-items-center text-danger">
        <h3>An error occur</h3>
    </div>
<% } else{ %>
    <div class="container my-5">
        <div class="form-container ">
            <form class="form" id="form" method="post" action="/users/signup">
                <% if(!user){ %>
                    <h2>Register with us</h2>
                <% } %>
                <div class="form--control">
                    <label for="first_name">First name</label>
                    <input name="first_name" type="text" id="first_name" placeholder="Enter your firstname">
                    <small>Error message</small>
                </div>

                <div class="form--control">
                    <label for="last_name">Lastname</label>
                    <input name="last_name" type="text" id="last_name" placeholder="Lastname">
                    <small>Error message</small>
                </div>

                <div class="form--control">
                    <label for="email">Email</label>
                    <input name="email" type="email" id="email" placeholder="Enter email">
                    <small>Error message</small>
                </div>

                <div class="form--control">
                    <label for="password">Password</label>
                    <input name="password" type="password" id="password" placeholder="Enter password">
                    <small>Error message</small>
                </div>

                <div class="form--control">
                    <label for="password2">Confirm Password</label>
                    <input type="password" id="password2" placeholder="Enter password again">
                    <small>Error message</small>
                </div>

                <div class="form--control">
                    <label for="phone_number">Phone number</label>
                    <input name="phone_number" type="number" id="phone_number" placeholder="Enter phone number">
                    <small>Error message</small>
                </div>

                <div class="form--control">
                    <label for="address">Address</label>
                    <input name="address" type="text" id="address" placeholder="Enter your address">
                    <small>Error message</small>
                </div>
                <span id="submit-message" class="text-danger"></span>

                <button class="disabled" id="btn-submit">Submit</button>
            </form>
        </div>
    </div>
<% } %>
<script src="/js/sign_up_validator.js"></script>
